@import 'fonts/Lexend/index.css';

:root {
  --blue: #235f8d;
  --green: #7ca37d;
  --orange: #d69630;
  --brown: #8c6d53;
  --purple: #634355;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Lexend', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 1.6rem;
  color: #fff;
  background-color: white;
  scroll-behavior: smooth;
  box-sizing: border-box;
  letter-spacing: 0px;
}

.header-wrapper,
.section-wrapper,
form {
  max-width: 136.4rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a.anchor {
  /* Compensation for top menu when clicking anchor links */
  display: block;
  position: relative;
  top: -6rem;
  visibility: hidden;
}

body > header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 9.52rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.63);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header-wrapper {
  display: flex;
  padding: 0 9.8rem;
  width: 100%;
}

.brand {
  margin-right: 13.5rem;
  display: flex;
}
.brand img {
  width: 17.37rem;
}

h1 {
  text-indent: -9999px;
  position: absolute;
}

h2 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.3;
}

p {
  font-size: 1.9rem;
  line-height: 3.3rem;
}

img {
  width: 100%;
  height: auto;
}

strong {
  font-weight: 700;
}

body > header nav {
  flex: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
body > header nav a {
  font-size: 1.9rem;
  margin-right: 5rem;
  color: #fff;
  text-decoration: none;
  border-bottom: 0.3rem solid transparent;
  border-bottom-color: transparent;
  transition: border-bottom-color 0.3s ease-out;
}
body > header nav a:hover,
body > header nav a:active {
  border-bottom-color: var(--blue);
}

/* Links with underline effect */
body > header nav a {
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-out;
}
body > header nav a:hover {
  border-bottom-color: var(--blue);
}

.header-buttons {
  align-self: center;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.header-buttons a {
  width: 14.3rem;
  font-size: 1.4rem;
  color: #fff;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  text-decoration: none;
  border: #fff 1px solid;
}

.header-buttons a:first-child {
  background-color: var(--blue);
  margin-right: 1.4rem;
}

.header-buttons a:last-child {
  background-color: var(--green);
}

/*Mobile nav*/
.nav-links-burger {
  padding-top: 10rem;
  background: linear-gradient(
    to bottom,
    var(--blue),
    var(--green),
    var(--orange),
    var(--brown),
    var(--purple)
  );
  list-style: none;
  padding: 12.8rem;
  display: flex;
  height: 100vh;
  position: absolute;
  width: 17.4rem;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  opacity: 0;
  z-index: 88;
}

main {
  background-color: #fff;
}

section {
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 2rem;
  max-width: 170rem;
  margin: 0 auto;
}
.section-wrapper {
  z-index: 1;
}

#one {
  height: 100vh;
  max-height: 87rem;
  background-image: url(./images/topp-1-ny.jpg);
  background-position: bottom center;
  position: relative;
  z-index: 0;
}
#one .bottom-svg {
  background-image: url(./images/shape-top.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 101%;
  height: 100%;
  left: -0.2rem;
  bottom: -0.4rem;
  background-position: bottom;
}

#one .section-wrapper {
  display: flex;
  justify-content: center;
}

#one h2 {
  margin-top: 21.5rem;
  max-width: 100rem;
  text-align: center;
  text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.6);
  -webkit-text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.6);
  -moz-text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.6);
  -ms-text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.6);
  -o-text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.6);
}

#two {
  background-color: #fff;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

#two h2 {
  font-size: 4.4rem;
  color: #000;
  text-align: center;
  padding-bottom: 7rem;
}

#two .three-elements {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  color: #000;
}
#two .three-elements > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 3rem 0 3rem;
  font-size: 1.9rem;
  text-align: center;
  max-width: 37rem;
  margin: 0 2rem;
}
#two .three-elements .open-account {
  display: none;
}

#two .three-elements img {
  max-width: 19rem;
  margin-bottom: 0.8rem;
}

#two .three-elements h3 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
  max-width: 24rem;
}

#three {
  min-height: 64vw;
  background-image: url(./images/accounts-mid.jpg);
  background-position-x: center;
  background-position-y: bottom;
  position: relative;
}
#three::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  top: 0%;
  height: 100%;
  background: rgb(148, 140, 101);
  mix-blend-mode: multiply;
}
#three .top-svg {
  background-image: url(./images/mob-account-top.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 101%;
  height: auto;
  left: -0.3rem;
  top: -1.5rem;
  right: 0;
  bottom: 0;
}
#three .bottom-svg {
  background-image: url(./images/three-bottom.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 101%;
  height: 100%;
  left: -0.2rem;
  bottom: -0.4rem;
  background-position: bottom;
}

#three h2 {
  margin-left: 13rem;
  margin-top: 20rem;
  font-size: 3.9rem;
  line-height: 1.4;
  margin-bottom: 4vw;
  max-width: 54rem;
}
#three .image-and-text {
  display: flex;
  padding: 0 7rem;
  left: -8rem;
  position: relative;
}
#three .image-and-text .laptop img {
  max-width: 72.7rem;
  height: auto;
  position: relative;
}

#three .image-and-text .take-control {
  padding-left: 4vw;
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#three .image-and-text .take-control p {
  max-width: 39rem;
  margin-bottom: 3rem;
}
#three .image-and-text .take-control img {
  max-width: 19rem;
}

#four {
  background-color: transparent;
  position: relative;
  top: -12rem;
}

#four .section-wrapper {
  position: relative;
}

#four ul {
  color: #000;
  margin-left: 15rem;
}
#four ul li {
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;
}
#four ul li img {
  max-width: 9rem;
  height: auto;
  margin-right: 4.5rem;
}
#four ul li p {
  margin-bottom: 0;
  max-width: 47rem;
}

#five {
  margin-top: -6rem;
  height: 97rem;
  background-image: url(./images/background-wallet.jpg);
  background-position: top;
  position: relative;
}
#five::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  top: 0%;
  height: 100%;
  background: rgba(76, 138, 179, 1);
  mix-blend-mode: multiply;
}

#five .top-svg {
  background-image: url(./images/shape-wallet.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 101%;
  height: auto;
  left: -0.3rem;
  top: -0.5rem;
  right: 0;
  bottom: 0;
}
#five .bottom-svg {
  background-image: url(./images/shape-wallet-bottom.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 101%;
  height: 100%;
  left: -0.2rem;
  bottom: -0.4rem;
  background-position: bottom;
}
#five .section-wrapper {
  display: flex;
}

#five .leikur-wallet-text {
  margin-left: 27.5rem;
  padding-top: 22rem;
}

#five .leikur-wallet-text h2 {
  font-size: 3.9rem;
  font-weight: 700;
  max-width: 38rem;
  line-height: 1.3;
  margin-bottom: 3rem;
}
#five .leikur-wallet-text p {
  font-size: 1.9rem;
  font-weight: 400;
  max-width: 50.4rem;
  margin-bottom: 3rem;
}

#five .leikur-wallet-text ul li {
  display: flex;
  align-items: center;
  margin-bottom: 2.6rem;
}
#five .leikur-wallet-text ul li img {
  max-width: 5.2rem;
  height: auto;
  margin-right: 1rem;
}
#five .leikur-wallet-text ul li p {
  margin-bottom: 0;
  max-width: 34.5rem;
}

#five .leikur-wallet-img {
  flex-grow: 1;
  position: relative;
  top: -21rem;
}

#five .leikur-wallet-img img {
  max-width: 37.6rem;
}

#five-six {
  height: 43rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 0 7rem;
}
#five-six .top-svg {
  background-image: url(./images/shape-about-us.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 100%;
  height: auto;
  left: -0.3rem;
  top: -7.5rem;
  right: 0;
  bottom: 0;
  max-width: 59rem;
}

#five-six .section-wrapper {
  max-width: 128rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  color: #000;
  text-align: center;
}
#five-six .open-account {
  display: none;
}
#five-six .section-wrapper h2 {
  font-size: 4.4rem;
  margin-bottom: 3rem;
}

#six {
  background-image: url(./images/background-enter-leikur.jpg);
  background-position: center;
  text-align: center;
  scroll-margin-top: 47rem;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 62rem;
  padding: 0 7rem;
}

#six::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  top: 0%;
  height: 100%;
  background: rgba(214, 150, 48, 1);
  mix-blend-mode: multiply;
}

#six .top-svg {
  background-image: url(./images/shape-enter-leikur-top.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 101%;
  height: auto;
  left: -0.3rem;
  top: -0.5rem;
  right: 0;
  bottom: 0;
}

#six .bottom-svg {
  background-image: url(./images/shape-enter-leikur-bottom.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 101%;
  height: 100%;
  left: -0.2rem;
  bottom: -0.4rem;
  background-position: bottom;
}
#six .section-wrapper {
  position: relative;
}
#six h2 {
  font-size: 4.4rem;
  margin-bottom: 3rem;
}
#six p {
  max-width: 105rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
#six p:last-of-type {
  margin-bottom: 3rem;
}

#seven {
  background-color: #fff;
  margin-top: 5rem;
  scroll-margin-top: 12rem;
}

#seven h2,
#seven p {
  text-align: center;
  margin-bottom: 2rem;
  color: #000;
}
#seven h2 {
  font-size: 4.4rem;
}
#seven p:last-of-type {
  margin-bottom: 5rem;
}

#seven form {
  max-width: 91.5rem;
  margin-top: 5rem;
}
#seven form .inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#seven form input {
  max-width: calc(50% - 2rem);
  display: inline-block;
  margin-bottom: 1.3rem;
  padding: 1.1rem 0 1.1rem 2.4rem;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
}
#seven form input::placeholder,
textarea {
  color: #686262;
  font-size: 1.4rem;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
}

#seven form .textarea-and-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#seven form .textarea-and-button textarea {
  width: 100%;
  min-height: 22.3rem;
  margin: 0;
  padding: 0;
  border: none;
  padding: 1.1rem 0 1.1rem 2.4rem;
  margin-bottom: 2.8rem;
}

#seven form .textarea-and-button button {
  width: 18.4rem;
  font-size: 1.7rem;
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 3rem;
  padding: 0.9rem;
  cursor: pointer;
}

footer {
  margin-top: 13.8rem;
  background-color: var(--purple);
  background-image: none;
  padding: 4rem 9rem;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

footer .footer-top {
  margin: auto;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding-bottom: 1rem;
}
footer .footer-bottom {
  margin: auto;
  display: flex;
  width: 100%;
  margin-top: 1.5rem;
}
footer .footer-bottom ul {
  list-style: none;
}
footer .footer-bottom ul li {
  margin-bottom: 1rem;
}
footer .footer-bottom ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-column-one {
  width: 44rem;
}
.footer-column-one img {
  width: 18rem;
}
.footer-column-two {
  width: 20rem;
}
.footer-column-three {
  width: 29rem;
}
footer .footer-mobile {
  display: none;
}
@media (min-width: 1364px) {
  #three {
    height: 118rem;
    min-height: auto;
  }
  #three h2 {
    margin-bottom: 11rem;
    max-width: 54.7rem;
  }

  #three .image-and-text .take-control {
    padding-left: 6rem;
  }
}
@media (max-width: 1364px) {
  body > header {
    height: 5.4rem;
  }
  .header-wrapper {
    padding: 0 1.4rem 0 2.9rem;
  }

  .brand {
    flex-grow: 1;
  }
  .brand img {
    width: 12rem;
  }

  .nav-container {
    flex-direction: column;
    justify-content: center;
  }

  .nav-links-desktop {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 0vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    opacity: 0;
    z-index: 88;
  }

  .header-buttons {
    display: none;
  }

  .nav-links-burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-links-burger li {
    opacity: 0;
    margin-bottom: 4.3rem;
    text-align: center;
  }
  .nav-links-burger li:has(.open-account) {
    margin-bottom: 3.2rem;
  }
  .nav-links-burger li a {
    margin-right: 0;
  }

  .open-account,
  .login {
    width: 14.1rem;
    font-size: 1.4rem;
    color: #fff;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
    margin-right: 0;
    margin-bottom: 0;
    text-align: center;
    padding-right: 0;
    border: 1px solid #fff;
  }

  .open-account:hover,
  .login:hover {
    border-color: var(--blue);
  }

  .open-account {
    background-color: #4c8ab3;
  }

  .login {
    background-color: var(--green);
  }

  .burger-wrapper-icon {
    display: flex;
    height: 5.4rem;
    width: 5.4rem;
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
  .burger-wrapper-icon.open {
    background-color: #000;
  }

  .burger {
    display: flex;
    z-index: 99;
    width: 2.4rem;
    height: 1.6rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .burger div {
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: all 0.3s ease;
    border-radius: 10px;
  }

  .nav-active {
    transform: translateX(0%);
    opacity: 1;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .burger.toggle {
    width: 26px;
    height: 26px;
    position: relative;
  }

  .burger.toggle:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .toggle .line1,
  .toggle .line2 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -2px;
    height: 1px;
    background-color: #fff;
    transform-origin: center;
  }

  .toggle .line1 {
    transform: rotate(45deg);
  }

  .toggle .line2 {
    transform: rotate(-45deg);
  }

  #three {
    min-height: 89vw;
  }

  #four ul li {
    max-width: 55rem;
  }
  #six {
    height: 620px;
    background-position: center;
  }
}

@media (max-width: 1024px) {
  body > header nav a {
    padding: 0.3rem;
  }
  main#home > section#about > header {
    padding: 4rem 2rem 1rem 2rem;
  }

  h2 {
    font-size: 4vw;
  }
  p {
    line-height: 1.6;
  }
  #one {
    height: 57rem;
    background-position: center 60%;
  }
  #one h2 {
    margin-top: 12rem;
    max-width: 66vw;
  }

  #two {
    padding-bottom: 2rem;
  }
  #two h2 {
    font-size: 4vw;
    max-width: 44vw;
    margin: 0 auto;
    padding-bottom: 3rem;
  }

  #two .three-elements {
    flex-direction: column;
    align-items: center;
  }

  #two .three-elements img {
    width: 14rem;
  }

  #two .three-elements h3 {
    font-size: 1.6rem;
  }
  #two .three-elements > div {
    margin-bottom: 4rem;
  }

  #two .three-elements .open-account {
    display: block;
    max-width: 37rem;
    width: 100%;
    text-decoration: none;
    margin-top: 3rem;
    padding: 1.5rem;
    height: auto;
  }

  #three {
    padding-bottom: 14rem;
  }

  #three .image-and-text {
    flex-direction: column;
    left: auto;
  }

  #three h2 {
    text-align: center;
    max-width: 48.7rem;
    margin: 15rem auto 8rem;
    font-size: 4vw;
  }

  #three .laptop {
    display: flex;
    justify-content: center;
  }

  #three .image-and-text .laptop img {
    margin: 0 auto;
  }
  #three .image-and-text .take-control {
    position: relative;
    top: -10rem;
    padding: 0;
    max-width: 53vw;
    width: 100%;
    height: 28rem;
    margin: 0 auto;
  }

  #three .image-and-text .take-control img {
    margin: 0 auto;
  }

  #four {
    height: auto;
    justify-content: center;
    padding-bottom: 14rem;
    top: -6rem;
  }
  #four ul {
    max-width: 53vw;
    margin: 0 auto;
  }

  #four ul li img {
    margin: 0;
  }
  #four ul li p {
    font-size: 1.6rem;
  }

  #five {
    height: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #five .section-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    top: -16rem;
    position: relative;
    max-width: 53vw;
  }
  #five .leikur-wallet-img {
    flex-grow: 0;
    top: 0;
  }
  #five .leikur-wallet-img img {
    height: 47rem;
  }
  #five .leikur-wallet-text {
    margin-left: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #five .leikur-wallet-text h2 {
    font-size: 4vw;
    max-width: 37rem;
    margin: 0 auto 2rem;
  }
  #five .leikur-wallet-text p {
    text-align: left;
    font-size: 1.6rem;
  }
  #five .leikur-wallet-text ul {
    margin-top: 6rem;
  }
  #five .leikur-wallet-text ul li {
    max-width: 33rem;
  }
  #five .leikur-wallet-text ul li img {
    width: 4rem;
  }
  #five .leikur-wallet-text ul li p {
    font-weight: 700;
  }
  #five-six {
    height: auto;
    padding-top: 9rem;
  }
  #five-six .top-svg {
    height: 27vw;
    top: -5vw;
  }
  #five-six .section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 53vw;
  }

  #five-six .section-wrapper p {
    text-align: left;
  }

  #five-six .open-account {
    display: block;
    max-width: 37rem;
    width: 100%;
    text-decoration: none;
    margin: 5rem 0;
    padding: 1.5rem;
    height: auto;
  }
  #six {
    margin-top: 8rem;
  }
  #six .section-wrapper {
    position: relative;
    max-width: 53vw;
  }

  #six h2 {
    margin-top: 6rem;
    font-size: 4vw;
  }
  #six p {
    max-width: auto;
    text-align: left;
    margin: 0;
  }

  #seven .section-wrapper {
    max-width: 53vw;
  }
  #seven p:last-of-type {
    text-align: left;
  }

  #seven form {
    max-width: 54vw;
  }
  #seven form .inputs {
    flex-direction: column;
  }
  #seven form input {
    padding: 2rem 2rem;
    max-width: initial;
    border-radius: 7px;
  }
  #seven form .textarea-and-button button {
    width: 100%;
    padding: 1.4rem;
  }
  footer {
    padding: 4rem;
  }
  footer .footer-top,
  footer .footer-bottom {
    display: none;
  }
  footer .footer-mobile {
    display: flex;
    flex-direction: column;
  }
  footer .footer-mobile img {
    max-width: 18rem;
    margin: 1rem 0 3rem;
  }
  footer .footer-mobile ul {
    margin-bottom: 3rem;
    list-style: none;
  }
  footer .footer-mobile ul li {
    margin-bottom: 0.9rem;
  }
  footer .footer-mobile ul li p {
    font-weight: 700;
  }
  footer .footer-mobile ul li a {
    color: #fff;
    text-decoration: none;
  }
}
@media (max-width: 768px) {
  .section-wrapper {
    max-width: 33rem;
  }

  h2 {
    font-size: 2.7rem;
  }

  p {
    font-size: 1.6rem;
  }

  #one {
    height: 43rem;
  }
  #one h2 {
    margin-top: 11rem;
  }

  #two h2 {
    font-size: 2.7rem;
    max-width: 100%;
  }
  #two .section-wrapper {
    max-width: 37rem;
  }
  #two .three-elements > div {
    padding: 0;
    max-width: 33rem;
  }
  #three h2 {
    margin-bottom: 4rem;
    max-width: 33rem;
    font-size: 2.7rem;
  }
  #three .section-wrapper {
    max-width: 40rem;
  }
  #three .image-and-text {
    padding: 0;
  }
  #three .image-and-text .take-control {
    max-width: 33rem;
    top: -4rem;
  }
  #four {
    top: 0rem;
  }
  #four ul {
    max-width: 100%;
  }
  #four ul li {
    flex-direction: column;
  }

  #four ul li p {
    text-align: center;
  }
  #five .section-wrapper {
    max-width: 33rem;
  }

  #five .leikur-wallet-text h2 {
    max-width: 28rem;
    font-size: 2.7rem;
  }
  #five .leikur-wallet-text p {
    max-width: 33rem;
  }
  #five-six {
    padding: 4rem 2rem 0;
  }
  #five-six .section-wrapper {
    max-width: 37rem;
  }

  #five-six .section-wrapper h2 {
    font-size: 2.7rem;
  }
  #five-six .section-wrapper p {
    max-width: 33rem;
  }
  #six {
    padding: 7rem 2rem;
    margin-top: 5rem;
    height: auto;
  }
  #six .section-wrapper {
    max-width: 33rem;
  }
  #six .top-svg {
    top: 0;
  }

  #six h2 {
    font-size: 2.7rem;
    margin-top: 0;
  }
  #seven .section-wrapper {
    max-width: 33rem;
  }
  #seven h2 {
    font-size: 2.7rem;
  }
  #seven form {
    max-width: 100%;
  }
}
