@font-face {
  font-family: 'Lexend';
  src: url('./lexend-regular.woff2') format('woff2'),
    url('./lexend-regular.woff') format('woff'),
    url('./lexend-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('./lexend-bold.woff2') format('woff2'),
    url('./lexend-bold.woff') format('woff'),
    url('./lexend-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
